{{> head }}
{{> navbar }}

<div class="row">
    </div class="col-8">
        <h1>Homer... </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis a pariatur quam voluptatum mollitia corrupti ipsa. In unde voluptas accusantium ratione iste officia molestiae dolorem, odit sed vel quidem tenetur!</p>
    </div>        
        
    <div class="col-4">
        <img src="/assets/img/homer.png" class="img-fluid" alt="Responsive image">
    </div>
        
    </div>

{{> footer }}